<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{login}"></title>
</head>
<body>

<div th:insert="~{fragments :: language}"></div> <br/><br/>

<form th:action="@{/authenticate/login}" method="post">

    <label for="username"> <span th:text="#{enter.username}"></span> </label>
    <input type="text" name="username" id="username"/>
    <br/><br/>

    <label for="password"> <span th:text="#{enter.password}"></span> </label>
    <input type="password" name="password" id="password"/>
    <br/><br/>

    <button type="submit" th:text="#{login}"></button>
    <br/>
    <div th:if="${param.error}" style="color: red" th:text="#{incorrect.username.password}"></div>

</form>

<br/> <br/>
<h2>
    <a href="/authenticate/registration" th:text="#{registration}"></a>
    <br/><br/>
</h2>

</body>
</html>