<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{task.list}"></title>
</head>
<body>

<div th:insert="~{fragments :: header}"></div> <br/><br/>

    <form action="/admin/tasks">
        <label for="user" th:text="#{user}"></label>
        <input type="text" name="user" th:value="${filter.user()}"  id="user">

        <label for="dateOfCreation" th:text="#{date.of.creation}"></label>
        <input type="date" name="dateOfCreation" th:value="${filter.dateOfCreation()}" id="dateOfCreation">
        <br/>
        <span>
            <label for="page" th:text="#{page}"></label>
            <input type="number" name="page" th:value="${tasks.metadata.page}" id="page">

            <label for="size" th:text="#{size}"></label>
            <input type="number" name="size" th:value="${tasks.metadata.size}" id="size">
        </span>
        <button type="submit" th:text="#{filter}"></button>
    </form>
    <br/>

    <h2> <b th:text="#{task.list}"></b> </h2>
    <h4>
        <div th:if="${!tasks.content.isEmpty()}">
            <p th:each="task:${tasks.content}">
                <a th:href="@{/admin/tasks/{id}(id=${task.id})}" th:text="${task.description}"></a>
                <span th:text="${'| user: ' + task.user.username}"></span>
            </p>
        </div>
    </h4>


</body>
</html>