<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{new.task}"></title>
</head>
<body>

<div th:insert="~{fragments :: header}"></div>

<br/> <h2> <b th:text="#{new.task}"></b> </h2> <br/>

<form th:method="POST" th:action="@{/tasks}" th:object="${task}">

    <label for="description" th:text="#{enter.description.of.task}"></label>
    <input type="text" th:field="*{description}" id="description"/>
    <div style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">description error message</div>
    <br/> <br/>

    <label for="dueDate" th:text="#{enter.due.date}"></label>
    <input type="date" th:field="*{dueDate}" id="dueDate"/>
    <div style="color: red" th:if="${#fields.hasErrors('dueDate')}" th:errors="*{dueDate}">due date error message</div>
    <br/> <br/>

    <button type="submit" th:text="#{create.task}"></button>

</form>

</body>
</html>