<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{editing.password}"></title>
</head>
<body>

<div th:if="${utilObject.flag.name().equals('TWO')}">

    <div th:insert="~{fragments :: header}"></div>

    <br/> <h2> <b th:text="#{editing.password}"></b> </h2> <br/>

    <form th:method="PUT" th:action="@{/user/edit-password}" th:object="${utilObject}">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{flag}">

        <label for="password" th:text="#{enter.correct.old.password}"></label>
        <input type="password" th:field="*{password}" id="password"/>
        <br/><br/>

        <button type="submit" th:text="#{send}"></button>
    </form>
</div>

<div th:if="${utilObject.flag.name().equals('THREE')}">

    <div th:insert="~{fragments :: header}"></div>

    <br/> <h2> <b th:text="#{editing.password}"></b> </h2> <br/>

    <form th:method="PUT" th:action="@{/user/edit-password}" th:object="${utilObject}">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{flag}">

        <label for="password2" th:text="#{enter.new.password}"></label>
        <input type="password" th:field="*{password}" id="password2"/>
        <br/><br/>
        <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"> Password error</div>

        <button type="submit" th:text="#{send}"></button>
    </form>
</div>

<div th:if="${utilObject.flag.name().equals('FOUR')}">
    <div th:insert="~{fragments :: header}"></div> <br/><br/>

    <br/> <h2> <b th:text="#{your.password.changed.successfully}"></b> </h2> <br/>
</div>

</body>
</html>